*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.bg-custom {
  background: linear-gradient(to right, #ffffff 50%);
}
.login-container {
  min-height: 100vh;
}
.login-form {
  max-width: 400px;
}
.form-control {
  border-radius: 0;
  padding: 1.5rem;
  font-size: 1rem;
}
.btn-custom {
  background-color: #0056b3 !important;
  color: white !important;
  border-radius: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}
.login-header {
  font-weight: 600;
  color: #333;
  margin-bottom: 2rem;
}
.login-subheader {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}
.login-text {
  margin-bottom: 3rem;
}
.forgot-password {
  text-decoration: none;
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-top: 0.5rem;
}
.image-container {
  background-image: url('https://img.freepik.com/premium-photo/close-up-hand-using-mobile-phone_1048944-19269110.jpg?w=900');
  background-size: cover;
  background-position: center;
  height: 60vh;
}
