*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;

}

.logo{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-weight: 500 !important;
  color: #fff !important;
  font-size: 30px !important;
  background: black;
  border-radius: 5px;
  padding: 20px 25px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;

}

.navbar-brand:hover {
  background: #011b33;
}

#formData{
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bg-custom {
  background-color: #011b33;
  /* background: linear-gradient(to right, #ffffff 50%); */
}
.login-container {
  min-height: 100vh;
}
.login-form {
  max-width: 400px;
}
.form-control {
  border-radius: 0;
  padding: 1.5rem;
  font-size: 1rem;
}

#loginBtn{
  background-color: #0056b3 !important;
  color: white !important;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  transition: 0.5s;
}

#loginBtn:hover{
  background-color: #011b33!important;
}

.forgot-password {
  text-decoration: none;
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-top: 0.5rem;
}
.forgot-password:hover{
  text-decoration: underline;
  color: black;
}

.spinner-border{
font-size: 10px !important;
}

.LoadBtn{
  display: flex !important;
  align-items:center !important;
  justify-content: center;
  gap: 40px;
}

#password-container{
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 60%;
  left: 17.4rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  font-size: 17px;
}

