@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;

}
body {
  
  background-color: #011b33;
 
  height: 100vh;
  margin: 0;
}

.auth-container {
  width: 40%;
  margin: 30px auto;
  padding: 20px 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  */
  background-color: #fff;
}
.formData{
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15PX;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#password-container{
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  left: 10.4rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 15px;
  text-align: center;
}

.links a {
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}